/* #material
 Material table */
.material {
	thead tr  { height: 50%; }
	.qty      { width: 5%; }
	.part     { width: 12.5%; }
	.material { width: 13.5%; }
	.kind     { width: 17%; }
	.dim      { width: 7%; }
	.notes    { width: 19%; }
	.cost     { width: 8%; }

	.action {
		width: 1.25em;
		font-weight: normal;
		font-style: normal;
	}
	.qty, .cost, .dim input, .action  { text-align: center; }
}
