/* .money, #costs, and #payments
 Money chart */
.notes, .contact, .costs, .payments {
	flex: 1;
}
.money .what {
	width: 40%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.money .amount {
	width: 60%;
	white-space: nowrap;
}

.money td:last-child {
	border-right: none;
}
.costs .cost:last-child {
	border-bottom: solid 1px #ddd;
}
.money input,
.money output {
	margin: 0;
	border: none;
	display: block;
}
.money input,
.money output,
.money label {
	padding: 1px 4px;
}
