/* Eradicate the webkit spinner button */
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
/* Use box-sizing: border-box; */
* { box-sizing: border-box; -moz-box-sizing: border-box; }


/*    Base Styles    */

body {
    margin: 10px auto;
    font-family: "Helvetica Neue", Helvetica, Calibri, "Cantarell", "Ubuntu", sans-serif;
    color: #333;
}

table { border-collapse: collapse; border-spacing: 0px; }
tr { height: 24px; }
td { padding: 0; }
input[type="checkbox"], input[type="radio"] { margin: 3px 3px 0 5px; vertical-align: baseline; }
.amount::before { content: "$"; }
input { 
    width: inherit; 
    padding: 1px; 
    height: inherit; 
    font-family: inherit; 
    background: transparent;
    border: solid 1px #ddd;
}
label input {
    border: none;
    border-bottom: 1px solid #ddd;
    -webkit-transition: .5s;
}
label input:focus {
    outline: 0;
    background: lightyellow;
    border-bottom-color: goldenrod;
}
aside { 
    -webkit-flex: 1;
    margin-left: 5px;
}

@media screen and (min-width: 8in) {
    body {
        width: 8in;
        font-size: 85%; 
    }
}


/*      Header       */

header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
    margin-bottom: 11px;
}
header hgroup {
    -webkit-flex: 3;
}
#order-title h1 {
    font-family: "Segoe UI Semibold", "Segoe UI", sans-serif;
    margin: 0 0 0 5px;
    display: inline;
}
/*#order-title::before {
    font-family: "Segoe UI Symbol"; 
    font-size: 2em;
    content: ""; 
}*/
/*#order-title:hover::before {
    content: "";
    cursor: pointer;
}*/
#amount { 
    float: right; 
    margin-top: 3px; 
    cursor: default; 
}
#order-date { 
    width: 125px;
}
#amount, #order-date {
    display: inline-block;
}
#order-status {
    width: 100%;
}
header nav {
    -webkit-flex: 1;
    margin-top: -10px;
}
header nav ul {
    padding: 0 0 0 20px;
}
header nav ul li {
    display: inline;
    text-transform: lowercase;
}
header nav ul li.active {
    font-family: "Segoe UI Semibold", "Segoe UI", sans-serif;
}
.main {
    -webkit-flex: 3;
    padding-right: 5px
}
#pages li {
    margin-top: -5px;
    padding: 0px 5px 3px;
}
#pages li.active {
    border: solid 1px #ddd;
    border-radius: 2em;
    background: -webkit-linear-gradient(270deg, #eee, #eee);
}
#pages a {
    color: inherit;
    text-decoration: none
}


/* Overview */

.block {
    min-height: 50px;
    border-bottom: dashed 1px #ddd;
}
iframe { 
    display: none;
}
.notepad {
    background: lightyellow;
    border: solid 1px #ddd;
    /*box-shadow: 0 0 1px #333;*/
}
#overview {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    border: 1px solid #ddd;
    border-radius: .5em;
    padding: 10px
}
#delivery label {
    display: inline-block;
}

/* Table styles */
.table th, .table caption { 
    /*font-variant: small-caps; */
    text-transform: uppercase;
    font-family: Calibri;
    font-size: 95%;
    font-weight: normal;
    padding: 0;
    color: #111;
    cursor: default;
    font-style: italic;
}
.table { border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }
.table td:not(:last-child), .table th:not(:last-child) {
    border-right: solid 1px #ddd;
}
.table tr:not(:last-child), .table thead tr:first-child {
    border-bottom: solid 1px #ddd;
}
/*.table tr:last-child {*/
    /*border-bottom: none;*/
/*}*/
.table input {
    padding: 1px 2px;
    margin: 0;
    width: 100%;
    border: none;
    height: 100%
}

/* Material table */
#material thead tr { height: 15px; }
#material .qty:not(input)      {width: 5%;}
#material .part:not(input)     {width: 15%;}
#material .material:not(input) {width: 11%;}
#material .kind:not(input)     {width: 17%;}
#material .length:not(input), #material .width:not(input), #material .height:not(input) {width: 7.5%;}
#material .notes:not(input)    {width: 20%;}
#material .cost:not(input)     {width: 7%;}
#material .action              {width: 25px;
    text-align: center;
    font-weight: normal;
    font-style: normal;
}
#material .qty  { text-align: center; }
#material .cost { text-align: center; }
#material button {
    padding: 0 6px;
    margin: 0 auto;
    width: 23px;
    display: block;
}

/* Money chart */
#money td:nth-child(odd) { 
    width: 70%;
}
#money td:nth-child(even) {
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
    width: 30%;
}
#money td:nth-child(3) {
    border-right: none;
}
#money input {
    margin: 0;
    border: none;
    width: 100%;
    padding: 1px 4px;
}
#costs .cost:last-child {
    border-bottom: solid 1px #ddd;
}
.table a {
    cursor: pointer;
}

.delete:hover {
    background: red;
    color: white;
}