@mixin flex($pflex: 0, $nflex: 0, $wflex: auto ) {
    -webkit-flex: $pflex $nflex $wflex;
}

@mixin flex-pack($pack) {
    // start, end, center, justify, distribute
    -webkit-flex-pack: $pack;
}
@mixin flex-line-pack($pack) {
    // start, end, center, justify, distribute, stretch
    -webkit-flex-line-pack: $pack;
}
@mixin flex-order($order) {
    -webkit-flex-pack: $order;
}

@mixin flex-align($align) {
    // center, start, end
    -webkit-flex-align: $align;
}

@mixin flex-flow($flow) {
    // row, column, reverse-row, reverse-column
    -webkit-flex-flow: $flow;
}

@mixin flex-wrap($wrap) {
    // wrap, nowrap
    -webkit-flex-wrap: $wrap;
}

@mixin flex-display() {
    display: -webkit-flex;
}
