@media print {

header {
    margin-top: 10px;
    margin-left: 0 !important;
    text-align: center;
    @include core-span(12);

    div { @include core-span(8); float: left; }
    img { @include core-span(4); height: 150px; }
}

}