@import "flex";
.label-colon { label::after { content: ": " } }
.input-nospin { input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0 } }
* {box-sizing: border-box;}

body { 
    width: 960px; 
    margin: 10px auto; 

    table {
        border-collapse: collapse;
    }
    input[type="text"],
    input:not([type]),
    input[type="number"],
    input[type="date"], 
    textarea,
    select { 
        width: inherit; 
        padding: 1px 0px;
        height: 24px;
    }
    textarea {
        margin: 0 0 -4px;
    }
}

header {
    @include flex-display;
    @include flex-pack(center);
    @include flex-align(center);
    hgroup {
        @include flex(2);
        text-align: center;
    }
    div {
        @include flex(1);
    }
}

#order {
    @include flex-display;
    @include flex-flow(column);
}


#details {
    @include flex-display;
    @include flex-flow(column);

    label {
        @include flex(1);
        @include flex-pack(center);
        @include flex-display;
    }
}

#material {
    padding: 6px 12px 10px;

    .qty      { width: 50px; @extend .input-nospin; }
    .material { width: 150px; }
    .type     { width: 150px; }
    .length   { width: 70px; }
    .width    { width: 70px; }
    .height   { width: 70px; }
    .notes    { width: 100%; }
}

#money {
    @include flex-display;
    width: 270px;

    td { width: 50%;}
}

#design {
    @extend .label-colon;
    -webkit-column-count: 2;
}

