.label-colon label::after, #design label::after {
  content: ": "; }

.input-nospin input[type="number"]::-webkit-inner-spin-button, #material .qty input[type="number"]::-webkit-inner-spin-button, .input-nospin input[type="number"]::-webkit-outer-spin-button, #material .qty input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

* {
  box-sizing: border-box; }

body {
  width: 960px;
  margin: 10px auto; }
  body table {
    border-collapse: collapse; }
  body input[type="text"],
  body input:not([type]),
  body input[type="number"],
  body input[type="date"],
  body textarea,
  body select {
    width: inherit;
    padding: 1px 0px;
    height: 24px; }
  body textarea {
    margin: 0 0 -4px; }

header {
  display: -webkit-flex;
  -webkit-flex-pack: center;
  -webkit-flex-align: center; }
  header hgroup {
    -webkit-flex: 2 0 auto;
    text-align: center; }
  header div {
    -webkit-flex: 1 0 auto; }

#order {
  display: -webkit-flex;
  -webkit-flex-flow: column; }

#details {
  display: -webkit-flex;
  -webkit-flex-flow: column; }
  #details label {
    -webkit-flex: 1 0 auto;
    -webkit-flex-pack: center;
    display: -webkit-flex; }

#material {
  padding: 6px 12px 10px; }
  #material .qty {
    width: 50px; }
  #material .material {
    width: 150px; }
  #material .type {
    width: 150px; }
  #material .length {
    width: 70px; }
  #material .width {
    width: 70px; }
  #material .height {
    width: 70px; }
  #material .notes {
    width: 100%; }

#money {
  display: -webkit-flex;
  width: 270px; }
  #money td {
    width: 50%; }

#design {
  -webkit-column-count: 2; }
