@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin'), url('./fnt/Cabin.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  src: local('Ubuntu'), url('./fnt/Ubuntu.woff') format('woff');
}
// @font-face {
//   font-family: 'Cabin';
//   font-style: normal;
//   font-weight: 600;
//   src: local('Cabin SemiBold'), url('./Cabin-SemiBold.woff') format('woff');
// }