@import "fonts";
@import "bootstrap";
@import "print";

body {
    margin: 0 auto;
    font-family: $baseFontFamily;
    
    label { text-transform: uppercase; }

    input {
        border: none;
        border-bottom: 1px solid $textColor;
        border-radius: 0;
        box-shadow: none;
        margin: 0;
        &:focus, &:hover {
            box-shadow: none; 
            color: $textColor;
        }
        &[type="checkbox"] { margin: 3px 3px 3px 4px; } 
        &[type="radio"] {margin: 3px 3px 0px 5px;}
    }

    table {
        @extend .table;
    }

    textarea {
        box-shadow: none;
        margin: 0;
        //padding: 8px 4px 0; // Chrome doesn't need this; Fx does. Phooey.
        width: inherit;
        border: none;
        border-radius: 0;
        -webkit-appearance: textfield;
        height: 28px;
        &:focus {
            //background: $grayLighter;
            box-shadow: none;
            color: $textColor;
            outline: none;
        }
    }

    fieldset { 
        border: 0; 
        margin: 0; 
        padding: 0; 
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;

        input {
            border: 0; 
            width: inherit;
        }
        select {
            border:0; 
            margin: 0;
            width: inherit;
        }
    }
}

header {
    margin: 15px 0 !important;
    text-align: center;
    @include core-span(12);

    div { @include core-span(6); float: left; }
    p   { margin: 1em 0;}
    h1  { font-family: Cabin; margin: .25em 0 0;}
    img { @include core-span(4);  }
}

#money {
    @include core-span(3);
    @include removeSpin;

    float: right;

    td:nth-child(odd) { width: 50%; }
    td:nth-child(even) {
        border-bottom: dotted 1px black;
        width: 50%;
        &::before { content: "$"; padding-top: 1px; }
    }
    input {
        width: 90%;
        text-align: right;
        -webkit-appearance: textfield;
        height: 20px;
        padding: 0 4px;
    }
}


#details {
    @include core-span(10);
    @include core-offset(1);
    margin-bottom: 10px;

    div {
        display: inline-block;
        @include core-span(4);
        label {text-align: center;}
        input {width: inherit;}
    }
    #detail-date {
        @include core-offset(1);
    }
}

#material {
    @include core-span(12);
    width: auto;

    table {
        @extend .table-bordered;
        tr:hover td input, tr:hover td textarea,
        tr:focus td input, tr:focus td textarea {
            border-radius: $inputBorderRadius;
        }

        input:focus, textarea:focus, select:focus {
            border: solid 1px $tableBackgroundHover;
            border-radius: $inputBorderRadius;
        }

        th, .qty {
            text-align: center;
        }
        
        .qty      { @include tableColumns(0.75); @include removeSpin; }
        .material { @include tableColumns(3.00) }
        .type     { @include tableColumns(2.25) }
        .length   { @include tableColumns(1.00) }
        .width    { @include tableColumns(1.00) }
        .height   { @include tableColumns(1.00) }
        .finish   { @include tableColumns(4.00) }
    }
    textarea {
        font-size: 11px;
        line-height: 14px;
    }
}



#design {
    label[for*="design-"] { font-weight: bold }

    input[type="radio"] { 
        margin: -5px 0 0 5px;
    }
    input[type="checkbox"] {
        margin: 0 0 5px 7px;
    }
}

