button {
	border: solid 1px;
	border-color: #aaa #999 #888;
	background-color: white;
	border-radius: 3px;
	padding: 0.25em 0.75em 0.35em;
	align-items: center;
	justify-content: center;
	display: inline-flex;
	cursor: pointer;
}

button:hover {
	background-color: #dfdfdf;
}

button,
select,
input[type=radio],
input[type=checkbox] {
	cursor: pointer;
}

td.action {
	text-align: center;
}

td.action button {
	border: 0;
	height: 100%;
	padding: 0 0.5em;
}

.add-piece {
	text-align: center;
}

.delete button {
	background: transparent;
}

.delete button:hover {
	background: red;
	color: white;
}
