.details {
	display: flex;
	flex-direction: row;
	margin-top: 1.5em;
}
.details label::after {
	content: ": ";
}
.design, .delivery {
	flex: 1;
	display: flex;
	flex-direction: column;
}
.details span {
	display: inline-flex;
	align-items: center;
	width: 100%;
	height: 22px;
	margin: 5px 0;
}
.design:nth-child(1), .delivery:nth-child(1) {
	padding-right: 1em;
}
.details input,
.details select {
	flex: 1;
}

.details label {
	padding: 2px 0 4px;
	height: 16px;
	flex: 1;
}
