.ql-format-button::after {
	content: attr(title);
	background-color: #efefef;
	padding: 2px 4px;
	border-radius: 2px;
}

.ql-format-button {
	cursor: pointer;
}

.ql-toolbar select, .ql-toolbar .ql-format-button {
	margin-right: 1em;
}

.ql-format-group:last-child select:last-child, .ql-format-group:last-child .ql-format-button:last-child {
	margin-right: 0;
}

.ql-bold {
	font-weight: bold;
}

.ql-italic {
	font-style: italic;
}

.ql-strike {
	text-decoration: line-through;
}

.ql-underline {
	text-decoration: underline;
}

@media print {
	.ql-toolbar {
		display: none;
	}
}
